body {
    margin: auto;
    width: 800px;
    background: url("images/winter-2080070_1920.jpg") no-repeat center fixed; 
    background-size: cover;
    padding: 10px 100px;
}

html {
    background: url("images/pebbles-1090536_1920\ \(1\).jpg") no-repeat center fixed; 
    background-size: cover;
}

p {
    font-family: "Arial, Helvetica, sans-serif";
}

h1, h2, {
    color: red;
    font-family: "Verdana, Geneva, sans-serif";
    font-variant: small-caps;
  
}

h2 {
    font-family: "fantasy";
}
.latin1 {
    color: rgb(99, 161, 97);
}

a {
    color: palevioletred;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: blueviolet;
}

h1 {
    text-align: center;
    padding: 12px 0;
    background-color: whitesmoke;
    font-size: 45px;
    text-shadow: 2px 2px black;
}

div {
    border: 2px solid orangered;
    width: 600px;
    margin: 50px auto;
    padding: 15px 75px;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 2px 2px orangered;
}

.latin2 {
    border: 2px solid blue;
    box-shadow: 4px 4px blue;
}

.picture {
    margin: auto;
    padding: auto;
    width: 600px;
    height: 200px;
    vertical-align: middle;
}